dash==2.9.3
dash-bootstrap-components==1.4.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
plotly==5.6.0
konlpy==0.6.0
wordcloud==1.8.2.2
pandas==1.4.2
selenium==4.9.0
webdriver-manager==3.8.6
tqdm==4.64.0
pytorch-lightning==2.0.2
torch==2.0.0
torchmetrics==0.11.4
transformers==4.28.1
matplotlib==3.5.1
numpy==1.21.5
json==2.0.9
